<div id="footer">
        <footer class="page-footer font-small teal pt-4">
                <div >
                  <div class="row">
                    <div class="col-md-3 mt-md-0 mt-3 text-center">
                    <div >
                            <p>ข้อมูลติดต่อ</p>
                    </div>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3 text-center">
                        <div >
                            <p>ข้อมูลผู้สนับสนุน</p>
                        </div>
                    </div>
                    <div id="map" class="col-md-6 mb-md-0 mb-3 text-center">
                        <p>แผนที่</p>
                    </div>
                  </div>
                </div>
              </footer>
</div>