{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}

{% endblock %}
{% block title %}

หน้าหลัก

{% endblock %}
{% block content %}


    <!-- navbar -->

    
    <!-- HomePage -->

    
    <div id="banner" class="carousel slide" style="width: 100%;">

        <!-- Indicators -->
        <ul class="carousel-indicators" style="    top: 400px;">
            <li class="item1 active"></li>
            <li class="item2"></li>
            <li class="item3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.w3schools.com/bootstrap4/ny.jpg" alt="Los Angeles" width="100%" height="450px">
            </div>
            <div class="carousel-item">
                <img src="https://www.w3schools.com/bootstrap4/la.jpg" alt="Chicago" width="100%" height="450px">
            </div>
            <div class="carousel-item">
                <img src="https://www.w3schools.com/bootstrap4/chicago.jpg" alt="New York" width="100%" height="450px">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#banner" style="height: 450px">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#banner style="height: 450px">
            <span class="carousel-control-next-icon"></span>
        </a>
   
  


    <div id="hotel" class="content text-center" style="margin-top: 2rem">

        <h2>โรงแรม H Hotel ยินดีต้อนรับ</h2>
        <h4>บริการห้องพัก คาราโอเกะ ฟิตเนส สวนน้ำ สปา เช่าเรือ</h4>

    </div>

    <div id="service" class="text-center" style="margin:5rem;margin-top: 2rem">
        <h2>บริการต่างๆ</h2>

        <div id="transection" class="card flex-row" style="flex: 100%">

            <div class="card" style="flex: 100%;">
                <div class="card-body">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    <h5 class="card-title">ห้องพัก</h5>
                    <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>

            <div class="card" style="flex: 100%">
                <div class="card-body">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                    <h5 class="card-title">คาราโอเกะ</h5>
                    <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </p>
                </div>
            </div>

            <div class="card" style="flex: 100%">
                <div class="card-body">
                        <i class="fa fa-ship" aria-hidden="true"></i>
                    <h5 class="card-title">เช่าเรือ</h5>
                    <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </p>
                </div>
            </div>

        </div>


        <div id="adver" class="card flex-row" style="flex: 100%;margin-top: 2rem">

                <div class="card" style="flex: 100%">

                    <div class="card-body">
                            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                        <h5 class="card-title">สปา</h5>
                        <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </p>
                    </div>
                </div>
    
                <div class="card" style="flex: 100%">
                    <div class="card-body">
                            <i class="fa fa-bicycle" aria-hidden="true"></i>
                        <h5 class="card-title">ฟิตเนส</h5>
                        <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                    </div>
                </div>
    
                <div class="card" style="flex: 100%">
                    <div class="card-body">
                           <i class="fa fa-bath" aria-hidden="true"></i>
                        <h5 class="card-title">สวนน้ำ</h5>
                        <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>
                    </div>
                </div>
    
            </div>

    </div>



    <!-- HomePage -->



    {% endblock %}