{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}

{% endblock %}
{% block title %}

หน้าหลัก

{% endblock %}
{% block content %}


    <!-- navbar -->

    
    <!-- HomePage -->
    <div style="margin-top: 55px;margin-bottom: 250px;background-color: white">

    <div id="banner" class="carousel slide" style="width: 100%;" >

        <!-- Indicators -->
        <ul class="carousel-indicators" style="    top: 400px;">
            <li class="item1 active"></li>
            <li class="item2"></li>
            <li class="item3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.w3schools.com/bootstrap4/ny.jpg" alt="Los Angeles" width="100%" height="450px">
            </div>
            <div class="carousel-item">
                <img src="https://www.w3schools.com/bootstrap4/la.jpg" alt="Chicago" width="100%" height="450px">
            </div>
            <div class="carousel-item">
                <img src="https://www.w3schools.com/bootstrap4/chicago.jpg" alt="New York" width="100%" height="450px">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#banner" style="height: 450px">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#banner" style="height: 450px">
            <span class="carousel-control-next-icon"></span>
        </a>
   
  


    <div id="hotel" class="content text-center" style="margin-top: 2rem">

        <h2>โรงแรม H Hotel ยินดีต้อนรับ</h2>
        <h4>บริการห้องพัก คาราโอเกะ ฟิตเนส สวนน้ำ สปา เช่าเรือ</h4>

    </div>

    <div id="service" class="text-center" style="margin:5rem;margin-top: 2rem">
        <h2>บริการต่างๆ</h2>

        <div id="transection" class="card flex-row" style="flex: 100%">

            <div class="card" style="flex: 100%;">
                <div class="card-body">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    <h5 class="card-title">ห้องพัก</h5>
                    <p class="card-text">เรามีห้องพักสไตล์ญี่ปุ่นหลากหลายรูปแบบ
                        ขอเชิญมาผ่อนคลายและเพลิดเพลินกับบรรยากาศแบบญี่ปุ่นดั้งเดิมในโรงแรมสไตล์ญี่ปุ่นของเราที่มีบริการ "ห้องเสื่อทาทามิ"
                        
                        อัตราค่าห้องพักต่อคน : เริ่มต้น 3,780 เยน (ไม่รวมอาหารเช้า)
                        อาหารเช้ามีให้บริการโดยมีค่าใช้จ่ายเพิ่มเติม
                        
                        
                    </p>
                </div>
            </div>

            <div class="card" style="flex: 100%">
                <div class="card-body">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                    <h5 class="card-title">คาราโอเกะ</h5>
                    <p class="card-text">ยินดีต้อนรับทุกท่าน สู่โลกแห่งความบันเทิงด้วยการร้องเพลง ด้วยระบบ Digital Mode เทคโนโลยีเครื่องเสียงที่ทันสมัยนำเข้าจากต่างประเทศ และสัมผัสกับบรรยากาศหลากหลายสไตล์ กับ R&B Boutique สนุกกับบทเพลงที่อัพเดทใหม่ๆ มากกว่า 200,000 เพลง และสามารถจัด ปาร์ตี้ เลี้ยงสังสรรค์ได้ทุกเทศกาล พร้อมที่จอดรถมากกว่า 200 คันและการเดินทางที่สวกสบายที่ R&B คาราโอเกะ
                        </p>
                </div>
            </div>

            <div class="card" style="flex: 100%">
                <div class="card-body">
                        <i class="fa fa-ship" aria-hidden="true"></i>
                    <h5 class="card-title">เช่าเรือ</h5>
                    <p class="card-text">บริการ เช่าเรือยอร์ช ภูเก็ต ของเรา เป็นบริการให้เช่าเรือยอร์ช ภูเก็ต ราคา ไม่แพง ที่ออกเดินทางจากท่าเรืออ่าวฉลอง ภูเก็ต เพื่อนำท่านไปท่องเที่ยว ทัวร์เกาะไม้ท่อน ทัวร์เกาะเฮ ทัวร์แหลมพรหมเทพ ทัวร์เกาะราชา ทัวร์เกาะราชาใหญ่ ทัวร์เกาะไข่นอก ทัวร์เกาะพีพี ทัวร์อ่าวพังงา บริการเรือยอร์ชให้เช่า ภูเก็ต ของเรา เป็นเรือที่มีการอำนวยความสะดวกสบายแก่ท่านตลอดการเดินทาง เรามีบริการเสิร์ฟ อาหาร และผลไม้ตามฤดูกาล ให้ท่านบนเรือ
                        </p>
                </div>
            </div>

        </div>


        <div id="adver" class="card flex-row" style="flex: 100%;margin-top: 2rem;">

                <div class="card" style="flex: 100%">

                    <div class="card-body">
                            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                        <h5 class="card-title">สปา</h5>
                        <p class="card-text">A multi-award winning operator that delivers unique spa experiences in diverse locations, SPA Cenvaree prides itself on offering guests the highest-standard therapies by the best-trained therapists. Our first spa opened 12 years ago and since then, we have grown to become one of Asia's leading spa operators with a portfolio of over 35 spas in South Asia and Middle East, with more to come!
                        </p>
                    </div>
                </div>
    
                <div class="card" style="flex: 100%">
                    <div class="card-body">
                            <i class="fa fa-bicycle" aria-hidden="true"></i>
                        <h5 class="card-title">ฟิตเนส</h5>
                        <p class="card-text">การออกกำลังกายอย่างสม่ำเสมอจนเป็นนิสัย คือ เกราะป้องกันโรคเรื้อรังต่างๆ อย่างดีสำหรับคุณ การออกกำลังกายไม่ใช่กิจกรรมสำหรับผู้ที่มีสุขภาพสมบูรณ์ ผู้อายุน้อย หรือนักกีฬา เท่านั้น แต่เป็นกิจกรรมที่มีหลากหลายแบบและสามารถปรับให้เหมาะสมกับสภาพร่างกายและ ความชอบของทุกๆ คน ทุกคนมีสิทธิ์เลือกที่จะใช้วิถีชีวิตเพื่อสุขภาพ ป้องกันโรคให้กับตนเอง
                            </p>
                    </div>
                </div>
    
                <div class="card" style="flex: 100%">
                    <div class="card-body">
                           <i class="fa fa-bath" aria-hidden="true"></i>
                        <h5 class="card-title">สวนน้ำ</h5>
                        <p class="card-text">สวนน้ำวานา นาวา วอเตอร์ จังเกิ้ลแห่งแรกในเอเชีย โดดเด่น และแตกต่าง ที่สุดสวนน้ำระดับโลก สนุกสุดมันส์ ตื่นเต้นไร้ขีดจำกัดกับที่สุด 20 เครื่องเล่นมาตรฐานโลก มาลุยกันได้เลย ความปลอดภัยระดับสากล เครื่องเล่นระดับโลก ข้อเสนอสุดคุ้มมากมาย ที่สุดสวนน้ำระดับโลก
                            </p>
                    </div>
                </div>
    
            </div>

    </div>

</div>

    <!-- HomePage -->



    {% endblock %}