<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>หน้าหลัก</title>
</head>

<body>
    <nav id ="tabmenu">
        <div>
            <a>ห้องพัก</a>
            <a>คาราโอเกะ</a>
            <a>เช่าเรือ</a>
            <a>
                <i id ="logo">
                    Hotel
            </a>
            <a>สปา</a>
            <a>ฟิตเนส</a>
            <a>สวนน้ำ</a>
        </div>
    </nav>
    <div id="banner"></div>
    <h1>บริการต่างๆ</h1>
    <div id="service">
        <div>ห้องพัก</div>
        <div>คาราโอเกะ</div>
        <div>เช่าเรือ</div>
        <div>สปา</div>
        <div>ฟิตเนส</div>
        <div>สวนน้ำ</div>
    </div>
    <div id="footer"></div>

</body>

</html>