<nav id ="tabmenu" class="navbar navbar-dark bg-info d-flex flex-row" style="flex:100%; flex-direction: row;">
        <ul class="navbar-nav text-center" style="flex:100%; flex-direction: row">
            <li class="nav-item active" style="flex:100%;">
                <a id = "room" class="nav-link" href="{% url 'room'%}">ห้องพัก
                <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" style="flex:100%;">
                <a class="nav-link">คาราโอเกะ</a>
            </li>
            <li class="nav-item" style="flex:100%;">
                <a class="nav-link">เช่าเรือ</a>
            </li>
            <li style="flex:100%;">
                <a class="navbar-brand" href="{% url 'home'%}">
                    <img id="logo" src="https://image.flaticon.com/icons/svg/99/99903.svg" width="30" height="30" alt="" class="d-inline-block align-top" alt="">
                    Hotel
                </a>    
            </li>
            <li class="nav-item" style="flex:100%;">
                <a id = "spa" class="nav-link" href="{% url 'spa'%}">สปา</a>
            </li>
            <li class="nav-item" style="flex:100%;">
                <a id = "fitness" class="nav-link" href="{% url 'fitness'%}">ฟิตเนส</a>
            </li>
            <li class="nav-item" style="flex:100%;">
                <a id = "waterpark" class="nav-link" href="{% url 'waterpark'%}">สวนน้ำ</a>
            </li>
        </ul>
    </nav>
   
