<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DetailRoom</title>
</head>
<body>
    <div id="roomname"></div>
    <div id="navbutton"></div>
    <div id="roomimage"></div>
    <div id="roomdescription">
        <div>รายละเอียด</div>
    </div>
    <div id="suportdetail">
        <div>สิ่งอำนวยความสะดวก</div>
    </div>
    <div id="detail">
        <div>ข้อมูลติดต่อ</div>
        <div>ชื่อ-นามสกุล</div>
        <input id= "name">
        <div>อีเมล</div>
        <input id= "email">
        <div>เบอร์โทรติดต่อ</div>
        <input id="phonenumber">
        <div>check-in</div>
        <div id="checkin"></div>
        <div>check-out</div>
        <div id="checkout"></div>
        <div>จำนวนห้อง</div>
        <div id="amountroom"></div>
        <div>จำนวนคน</div>
        <div id="amountpeople"></div>
        <button id="booking">จอง</button>
    </div>

</body>
</html>