<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    

    <title>DetailRoom</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

  <script>
  $( function() {
    var name , email , phonenumber
    var peopleperroom = 3
    var rooms = [1, 2, 3, 4, 5]
    var peoples = []
    for (i=1;i<=peopleperroom;i++){
        peoples.push(i)
    }

    var strrooms = '<select class="form-control" id="amountroom" style="width:30%">'
    rooms.forEach(function(room) {
        strrooms += '<option value='+room+'>'+ room + '</option>';
    }); 
    strrooms += '</select>';
    document.getElementById("room").innerHTML = strrooms;

    var strpeoples = '<select class="form-control" id="amountpeople" style="width:30%">'  
    peoples.forEach(function(people) {
        strpeoples += '<option value='+people+'>'+ people + '</option>';
    }); 
    strpeoples += '</select>';
    document.getElementById("people").innerHTML = strpeoples;

    $('#name').change(function(){
        name = $('#name').val()
    })

    $('#email').change(function(){
        email = $('#email').val()
    })

    $('#phonenumber').change(function(){
        phonenumber = $('#phonnumber').val()
    })

    $('#amountroom').click(function(){ 
        var amountroom = $('#amountroom').val()
        var people = amountroom * peopleperroom
        var amountpeoples = []
        for(i=1;i<=people;i++){
            amountpeoples.push(i)
        }

        var str = '<select class="form-control" id="amountpeople" style="width:30%">'
        amountpeoples.forEach(function(amountpeople) {
        str += '<option value='+amountpeople+'>'+ amountpeople + '</option>';
        }); 
        str += '</select>';
        document.getElementById("people").innerHTML = str;
    });

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#datepickercheckin').datepicker({

    beforeShowDay: function(date) {
        return date.valueOf() >= now.valueOf();
    },
    autoclose: true

    }).on('changeDate', function(ev) {
        var newDate = new Date(ev.date);
        newDate.setDate(newDate.getDate() + 1);
        checkout.datepicker("update", newDate);

    $('#datepickercheckout')[0].focus();
    });


    var checkout = $('#datepickercheckout').datepicker({
        beforeShowDay: function(date) {
        if (!checkin.datepicker("getDate").valueOf()) {
            return date.valueOf() >= new Date().valueOf();
        } else {
            return date.valueOf() > checkin.datepicker("getDate").valueOf();
            }
        },
        autoclose: true

        }).on('changeDate', function(ev) {});

    });
</script>

</head>
<body>



<style>
    .form-control {
        border-radius: 0 !important;
        font-size: 12x;
    }
    .clickable { cursor: pointer; }
</style>

    <div id="navbutton" class="list-group text-center" style="right: 0; top: 0; width:130px; float: right;position: fixed;">
            <a class="list-group-item list-group-item-action" href="#roomname">รายละเอียด</a>
            <a class="list-group-item list-group-item-action" href="#detail">จอง</a>
    </div>
          <div data-spy="scroll" data-target="#navbutton" data-offset="0" class="scrollspy-example">
                <div id="roomname"><h2>{{room.name}}</h2></div>
                <div id="roomimage">
                    <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active text-center ">
                        <img src="{{room.image1.url}}" alt="Los Angeles" width="50%" height="380px">
                    </div>
                    <div class="carousel-item text-center">
                        <img src="{{room.image2.url}}" alt="Chicago" width="50%" height="380px">
                    </div>
                </div>
        
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#banner" style="height: 380px">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#banner style="height: 380px">
                    <span class="carousel-control-next-icon"></span>
                </a>
                    </div>
                <div id="roomdescription">
                    <div><h2>รายละเอียด</h2></div>
                    {{room.des}}

                </div>
                <div id="suportdetail">
                    <div>สิ่งอำนวยความสะดวก</div>
                    <h3>{{room.option}}</h3>
                </div>
                <div id="detail">
                    <h5>ข้อมูลติดต่อ</h5>
                    <form style="padding-left: 10%">
                        <div class="form-group">
                            <label>ชื่อ-นามสกุล</label>
                            <input class="form-control" id="name" placeholder="ชื่อ-นามสกุล" style="width:40%">
                        </div>
                        <div class="form-group">
                            <label>อีเมล</label>
                            <input class="form-control" id="email" placeholder="อีเมล" style="width:40%">
                        </div>
                        <div class="form-group">
                            <label>เบอร์โทรติดต่อ</label>
                            <input class="form-control" id="phonenumber" placeholder="เบอร์โทรติดต่อ" style="width:40%">
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-5 mt-md-0 mt-3">
                                <div id="checkin">
                                    <label>check-in</label>
                                    <div id="datepickercheckin" class="input-group date" data-date-format="dd-mm-yyyy">
                                        <input class="form-control form-control clickable input-md" type="text" readonly/>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mt-md-0 mt-3">
                                <div id="checkout">
                                    <label>check-out</label>
                                    <div id="datepickercheckout" class="input-group date" data-date-format="dd-mm-yyyy">
                                        <input class="form-control form-control clickable input-md" type="text" readonly/>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-md-5 mt-md-0 mt-3">
                                <label>จำนวนห้อง</label>
                                <div id="room"></div>
                            </div>
                            <div class="col-md-5 mt-md-0 mt-3">
                                <label>จำนวนคน</label>
                                <div id="people"></div>
                            </div>
                        </div>
                        <button id="booking" type="button"  data-toggle="modal" data-target="#popupbooking" class="btn btn-dark" style="float:right; margin-right: 50px">จอง</button>




              



                        <form  method="POST">
                                {% csrf_token %}
    
      <div class="modal fade" id="popupbooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">ยืนยันการจอง</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="flex-direction: column;">
                    <h1>ประเภทห้อง : xxxxx</h1>
                    <h1>ชื่อ-นามสกุล : xxxxx</h1>
                    <h1>อีเมล : xxxxx</h1>
                    <h1>เบอร์โทรศัพท์ : xxxxx</h1>
                <h1>วันที่check-in : xxxxx</h1>
              <h1>วันที่check-out : xxxxx</h1>
              <h1>จำนวนห้อง : xx</h1>
              <h1>จำนวนคน : xx</h1>
              <h1>ราคา : xx</h1>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> 


    </form>











                        
                    </form>
                </div>
          </div>   




</body>
</html>