<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ห้องพัก</title>




    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- fontawe -->
    <link rel="mask-icon" type=""
    href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
    color="#111" />

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>




</head>
<body>
<style>
.centered {
  position: absolute;
  top: 270px;
  left: 50%;
 
  transform: translate(-50%, -50%);
}
</style>   

        <div id="banner"  style="margin-top: 3rem;width: 100%;">
                <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">

                
                <div class="centered">
                    <div class="card" style="background-color: darkgrey;opacity: 0.5">
                        
                                <p style="color: white;font-size: 5rem;margin-left: 2rem;margin-right: 2rem;">บริการห้องพัก</p>
                        
                    </div>
                    
                </div>
              </div>


        


<div class="d-flex flex-row text-center" style="width: 100%;height: 650px;">
        <div class="card" style="flex: 50%">
            <div class="d-flex flex-column" style="height: 100%">
                  
                            <p  style="font-size: 2rem;flex: 200%;margin-top: 2rem"> ห้อง ธรรมดา </p>
                       
                             <h5 style="margin: 2rem;margin-top: 0%;flex: 200%">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>
                        
                                <button style="flex: 20%;margin: 3rem" class="btn btn-dark"  type="button" id="bookingnow" onclick="window.location.href={% url 'roomdetail'%}">จองเลย</button>
                        
                       
             
            </div>
           
            </div>
            <div class="card" style="flex: 100%">
                <div>    
                    <div >
                            <img style="width: 100%;height: 350px;"  src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">

                    </div>
                    <div class="d-flex flex-row">
                            <img style="width: 50%" src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">
                            <img style="width: 50%"  src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">

                    </div>
                </div>
            </div>
                
                
</div>






<div class="d-flex flex-row text-center" style="width: 100%;height: 650px;">

        <div class="card" style="flex: 100%">
                <div>    
                    <div >
                            <img style="width: 100%;height:350px;"  src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">

                    </div>
                    <div class="d-flex flex-row">
                            <img style="width: 50%" src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">
                            <img style="width: 50%"  src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">

                    </div>
                </div>
            </div>

        <div class="card" style="flex: 50%">
            <div class="d-flex flex-column" style="height: 100%">
                  
                            <p  style="font-size: 2rem;flex: 200%;margin-top: 2rem"> ห้อง ธรรมดา </p>
                       
                             <h5 style="margin: 2rem;margin-top: 0%;flex: 200%">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>
                        
                                <button style="flex: 20%;margin: 3rem" class="btn btn-dark"  type="button" id="bookingnow" onclick="window.location.href={% url 'roomdetail'%}">จองเลย</button>
                        
                       
             
            </div>
           
            </div>
        
                
                
</div>







<div class="d-flex flex-row text-center" style="width: 100%;">
        <div class="card" style="flex: 50%">
            <div class="d-flex flex-column" style="height: 100%">
                  
                            <p  style="font-size: 2rem;flex: 200%;margin-top: 2rem"> ห้อง ธรรมดา </p>
                       
                             <h5 style="margin: 2rem;margin-top: 0%;flex: 200%">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>
                        
                                <button style="flex: 20%;margin: 3rem" class="btn btn-dark"  type="button" id="bookingnow" onclick="window.location.href={% url 'roomdetail'%}">จองเลย</button>
                        
                       
             
            </div>
           
            </div>
            <div class="card" style="flex: 100%">
                <div>    
                    <div >
                            <img style="width: 100%;height: 350px;"  src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">

                    </div>
                    <div class="d-flex flex-row">
                            <img style="width: 50%" src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">
                            <img style="width: 50%"  src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/12/07/0900/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg/Grand-Hyatt-Erawan-Bangkok-P425-Grand-Room.jpg?imwidth=1920" alt="Snow" style="width:100%;height: 450px;">

                    </div>
                </div>
            </div>
                
                
</div>

























</body>
</html>