<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>สปา</title>
</head>
<body>
    <div id="spa">
        <div>สปาของโรงแรม</div>
        <div id="spabanner"></div>
        <div id="spaimage"></div>
        <div>service</div>
        <div id="spaservice">
                <div>นวดหน้า</div>
                <div>อบซาวน่า</div>
                <div>แช่ออนเซ็น</div>
                <div>นวดแผนไทย</div>
                <div>นวดน้ำมัน</div>
                <div>ขัดตัว</div>
        </div>
        <div id="detail">
            <div>เวลาเปิด-ปิด</div>
            <div>สถานที่</div>
        </div>
    </div>
</body>
</html>