{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}

{% endblock %}
{% block title %}

เช่าเรือ

{% endblock %}
{% block content %}
<div style="margin-top: 55px;margin-bottom: 250px;background-color: white;box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);">
    <div id="boat">
        <div>เช่าเหมาเรือ</div>
    </div>
    <div id="bannerboat"></div>
    <div id="listboat">
        <div id="boatname"></div>
        <div id="boatdescription"></div>
        <div id="boatimage"></div>
        <div id="bookingnow"></div>
    </div>
</div>

{% endblock %}