<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    

    <title>DetailKaraoke</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script> -->
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2'></script>
  <script>
  $( function() {
    var name , email , phonenumber
    var peopleperroom = "{{room.people}}"
    var rooms = [1, 2, 3, 4, 5]
    var peoples = []
    for (i=1;i<=peopleperroom;i++){
        peoples.push(i)
    }

    var strrooms = '<select class="form-control" id="amountroom" style="width:30%">'
    rooms.forEach(function(room) {
        strrooms += '<option value='+room+'>'+ room + '</option>';
    }); 
    strrooms += '</select>';
    document.getElementById("numroom").innerHTML = strrooms;


    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    }
    $('#confirmbooking').click(function(){
        Swal.fire({
            position: 'center',
            type: 'success',
            title: 'จองสำเร็จ',
            showConfirmButton: false,
            timer: 1500
        })
        sleep(1500).then(() => {
            window.location.replace('/karaoke')
        })
        
    })
   
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#datepickercheckin').datepicker({

    beforeShowDay: function(date) {
        return date.valueOf() >= now.valueOf();
    },
    autoclose: true

    }).on('changeDate', function(ev) {
        var newDate = new Date(ev.date);
        newDate.setDate(newDate.getDate() + 1);
        checkout.datepicker("update", newDate);
    });
    $('#booking').click(function(){
        checkname(name)
        checkemail(email)
        checkphonenumber(phonenumber)
        checkdatecheckin()
        if(checkname(name)&&checkemail(email)&&checkphonenumber(phonenumber)&&checkdatecheckin())
        {
            var totalprice = Number("{{room.price}}")*$('#amountroom').val()
            document.getElementById("pop_room").innerHTML = $('#roomname').text()
            document.getElementById("pop_user").innerHTML = $('#name').val()
            document.getElementById("pop_email").innerHTML = $('#email').val()
            document.getElementById("pop_phone").innerHTML = $('#phonenumber').val()
            document.getElementById("pop_checkin").innerHTML = $('#datepickercheckin').val()
            document.getElementById("pop_checkout").innerHTML = $('#datepickercheckout').val()
            document.getElementById("pop_amountroom").innerHTML = $('#amountroom').val()
            document.getElementById("pop_amountpeople").innerHTML = $('#amountpeople').val()
            document.getElementById("pop_totalprice").innerHTML = totalprice
            $('#popupbooking').modal('show')

        }
        
    });
    function checkname(name){
        document.getElementById("alertname").innerHTML = ""
        if(name === undefined || name === ''){
            document.getElementById("alertname").innerHTML = "กรุณากรอกชื่อ-นามสกุล"
            return false
        }
        else{
            return true
        }
    }
    function checkemail(email){
        document.getElementById("alertemail").innerHTML = ""
        var str = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(email=== undefined || email === ''){
            document.getElementById("alertemail").innerHTML = "กรุณากรอกอีเมล"
            return false
        }
        else if(!str.test(String(email).toLowerCase())){
            document.getElementById("alertemail").innerHTML = "กรุณากรอกอีเมลให้ถูกต้อง"
            return false
        }
        else{
            return true
        }
    }
    function checkphonenumber(phonenumber){
        document.getElementById("alertphonenumber").innerHTML = ""
        var phoneno = /^\d{10}$/;
        if(phonenumber=== undefined || phonenumber === ''){
            document.getElementById("alertphonenumber").innerHTML = "กรุณากรอกเบอร์โทรติดต่อ"
            return false
        }
        else if(!phoneno.test(String(phonenumber).toLowerCase())){
            document.getElementById("alertphonenumber").innerHTML = "กรุณากรอกเบอร์โทรติดต่อให้ถูกต้อง"
            return false
        }
        else{
            return true
        }
    }
    function checkdatecheckin(phonenumber){
        document.getElementById("alertcheckin").innerHTML = ""
        if(checkin.datepicker("getDate") == 'Invalid Date'){
            document.getElementById("alertcheckin").innerHTML = "กรุณาเลือกวันcheck-in"
            return false
        }
        else{
            return true
        }
    }
    });
    $(document).ready(function () {
        // Activate Carousel with a specified interval
        $("#banner").carousel({ interval: 5000 });

        // Enable Carousel Indicators
        $(".item1").click(function () {
            $("#banner").carousel(0);
        });
        $(".item2").click(function () {
            $("#banner").carousel(1);
        });
        $(".item3").click(function () {
            $("#banner").carousel(2);
        });

        // Enable Carousel Controls
        $(".carousel-control-prev").click(function () {
            $("#banner").carousel("prev");
        });
        $(".carousel-control-next").click(function () {
            $("#banner").carousel("next");
        });
    });
</script>

</head>
<body>



<style>
    .form-control {
        border-radius: 0 !important;
        font-size: 12x;
    }
    .clickable { cursor: pointer; }
</style>
    <div id="navbutton" class="list-group text-center" style="right: 50px; top:50px; width:130px; float: right; position: fixed;">
            <a id="des_button" class="list-group-item list-group-item-action" href="#karaokeroomname">รายละเอียด</a>
            <a id="booking_button" class="list-group-item list-group-item-action" href="#information">จอง</a>
    </div>
          <div data-spy="scroll" data-target="#navbutton" data-offset="0" class="scrollspy-example">
                <div style="margin: 0px 0px 0px">
                    <h1 id="karaokeroomname" class="card-header" style="background-color:#F5F5F5; padding: 20px;">{{karaoke.name}} 
                        <a style="box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);flex: 20%;margin: 3rem" class="btn btn-dark"  type="button" id="bookingnow{{room.id}}" href="{% url 'karaoke'%}">ย้อนกลับ</a>
                        
                 </h1> 
                </div>
                <div id="karaokeimage" class="bd-example" style="width: 50%;margin-left: auto;margin-right: auto; margin-top:20px;margin-bottom:20px;  "  >
                    <div id="banner" class="carousel slide text-center">
                    <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li class="item1 active"></li>
                            <li class="item2"></li>
                            <li class="item3"></li>
                            <li class="item4"></li>
                            <li class="item5"></li>
                        </ul>
                    <!-- The slideshow -->
                        <div class="carousel-inner" style="width: 100%;">
                            <div class="carousel-item active text-center ">
                                <img src="{{karaoke.image1.url}}" alt="Los Angeles" width="100%" height="380px">
                            </div>
                            <div class="carousel-item text-center">
                                <img src="{{karaoke.image2.url}}" alt="Chicago" width="100%" height="380px">
                            </div>
                            <div class="carousel-item text-center">
                                <img src="{{karaoke.image3.url}}" alt="Chicago" width="100%" height="380px">
                            </div>
                            <div class="carousel-item text-center">
                                <img src="{{karaoke.image4.url}}" alt="Chicago" width="100%" height="380px">
                            </div>
                            <div class="carousel-item text-center">
                                <img src="{{karaoke.image5.url}}" alt="Chicago" width="100%" height="380px">
                            </div>
                        </div>
                <!-- Left and right controls -->
                        <a class="carousel-control-prev" style="cursor: pointer;">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" style="cursor: pointer;" >
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div id="karaokedescription">
                    <h3 class="card-header" style="background-color:#F5F5F5; padding: 20px">รายละเอียด</h3>
                    {{karaoke.des}}
                </div>
                    <div id="information">
                        <h3 class="card-header" style="background-color:#F5F5F5; padding: 20px">ข้อมูลติดต่อ</h3>
                        <form style="padding-left: 10%">
                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-5 mt-md-0 mt-3">
                                    <div id="checkin">
                                        <label>วันที่จอง</label>
                                        <div class="input-group date">
                                            <input id="datepickercheckin" data-date-format="dd-mm-yyyy"  class="form-control form-control clickable input-md" type="text"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <p id="alertcheckin" style="color: red"></p>
                                    </div>
                                </div>
                                <div class="col-md-5 mt-md-0 mt-3">
                                    <label>เลขห้อง</label>
                                    <div id="numroom"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>ชื่อ-นามสกุล</label>
                                <input class="form-control" id="name" placeholder="ชื่อ-นามสกุล" style="width:40%">
                                <p id="alertname" style="color: red"></p>
                            </div>
                            <div class="form-group">
                                <label>อีเมล</label>
                                <input class="form-control" id="email" placeholder="อีเมล" style="width:40%">
                                <p id="alertemail" style="color: red"></p>
                            </div>
                            <div class="form-group">
                                <label>เบอร์โทรติดต่อ</label>
                                <input class="form-control" id="phonenumber" placeholder="เบอร์โทรติดต่อ" style="width:40%">
                                <p id="alertphonenumber" style="color: red"></p>
                            </div>
                            <div class="form-group">
                                <label>หมายเหตุ</label>
                                <input class="form-control" id="remark" placeholder="หมายเหตุ" style="width:40%">
                                <p id="alertremark" style="color: red"></p>
                            </div>
                            
                            
                            <button type="button" id="booking" class="btn btn-info" style="float:right; margin-right: 50px">จอง</button>
                        </form>
                    </div>
                        




              



                        <form  method="POST">
                                {% csrf_token %}
    
      <div class="modal fade" id="popupbooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">ยืนยันการจอง</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="flex-direction: column;">
                <div class='row'>
                    <p>ประเภทห้อง :</p>
                    <p id="pop_room"></p>
                </div>
                <div class='row'>
                    <p>ชื่อ-นามสกุล :</p>
                    <p id="pop_user"></p>
                </div>
                <div class='row'>
                    <p>อีเมล :</p>
                    <p id="pop_email"></p>
                </div>
                <div class='row'>
                    <p>เบอร์โทรศัพท์ :</p>
                    <p id="pop_phone"></p>
                </div>
                <div class='row'>
                    <p>วันที่check-in :</p>
                    <p id="pop_checkin"></p>
                </div>
                <div class='row'>
                    <p>วันที่check-out :</p>
                    <p id="pop_checkout"></p>
                </div>
                <div class='row'>
                    <p>จำนวนห้อง :</p>
                    <p id="pop_amountroom"></p>
                </div>
                <div class='row'>
                    <p>จำนวนคน :</p>
                    <p id="pop_amountpeople"></p>
                </div>
                <div class='row'>
                    <p>ราคารวม :</p>
                    <p id="pop_totalprice"></p>
                </div>
              
            </div>
            <div class="modal-footer">
              <button id="cancelbooking" type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
              <button id="confirmbooking" type="button" class="btn btn-success">ยืนยัน</button>
            </div>
          </div>
        </div>
      </div> 


    </form>
                    </form>
                </div>
          </div>   
</body>
</html>